@use 'variables' as *;

@mixin focus-shadow($color: $pink, $alpha: 0.4) {
  box-shadow: 0 0 0 4px rgba($color: $color, $alpha: 0.4);
  border-color: $pink;
}

@mixin button($background : $pink, $color: $white, $border-color: $pink) {
  min-width: 44px;
  min-height: 44px;
  background-color: $background;
  color: $color;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;

  &:focus {
    @include focus-shadow($border-color, .5);
  }

  &:hover {
    background-color: rgba($color: $background, $alpha: .85);
  }
}
