// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  // FOOTER
  .footer {
    .inner-footer {
      font-size: .875em;
    }
  }

  // END FOOTER
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }


  // HERO
  .hero {
    height: 450px;

    img {
      height: 450px;
    }

    .inner-hero {

      h1 {
        font-size: 4rem;
      }

      p {
        margin-top: 0;
        font-size: 1.5rem;
      }

    }
  }

  // END HERO

  // TAB
  .tab-wrapper {
    .tab {
      .tab-link {
        font-size: 1rem
      }
    }
  }

  // END TAB

  // REVIEW LIST
  .review-list {
    padding: 0 2rem;

  }

  // END LIST

  .show-modal-review {
    padding: 0 25px;
  }

  // MODAL
  .modal {
    .modal-content {
      width: 80%;
    }
  }

  // END MODAL




}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  // MODAL
  .modal {
    .modal-content {
      width: 60%;
    }
  }

  // END MODAL

  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }


  // SEARCH
  .search {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .search-bar {
      width: 50%;
    }

    .btn-search {
      border-radius: 5px;
    }

  }

  // END SEARCH

  // CONTENT
  .content {

    .content-header {
      h2 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.15rem;
      }
    }

    .detail-header {
      h2 {
        font-size: 2.4rem;

      }

      p {
        font-size: 1.125rem;

        i {
          color: $red;
        }
      }
    }

    .detail-wrapper {
      flex-direction: row;

      .side-left {
        flex: 50%;
      }

      .side-right {
        flex: 50%;
        padding-left: 25px;


        .btn-favorite {
          width: 50%;
        }


      }
    }
  }

  // CONTENT

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

  // NAVBAR
  .header {
    .navbar {
      .nav-logo {
        font-size: 1.7rem;
      }

      .nav-menu {
        position: absolute;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #393E46;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        padding: 1rem 0;

        &.active {
          left: 0;
        }

        .nav-item {
          margin: 0;
          padding: .5rem 0;
          width: 100%;

          .nav-link {
            color: $white;
          }
        }
      }


      .hamburger {
        display: block;

        &.active {
          .bar:nth-child(2) {
            opacity: 0;
          }

          .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }

          .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }

  // END NAVBAR

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {}