@use 'variables' as *;
@use 'mixins' as *;
@use 'app';
@use 'toast';
@use 'responsive';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: $color-gray-900;
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

label {
  display: inline-block;
}

.container {
  width: $container-width;
  max-width: $container-max;
  margin: auto;
}
